.env
**/.env
.env.local
**/.env.local
.env.*.local
**/.env.*.local
.env.development
**/.env.development
.env.test
**/.env.test
.env.production
**/.env.production
.env.staging
**/.env.staging
*.log
.DS_Store
Thumbs.db
.idea/
.vscode/
node_modules/
**/node_modules/
.venv/
**/.venv/
dist/
**/dist/
