**/.env
**/.env.[!e]*
**/.env.e[!x]*
**/.env.ex[!a]*
**/.env.exa[!m]*
**/.env.exam[!p]*
**/.env.examp[!l]*
**/.env.exampl[!e]*
**/.env.example?*
*.log
.DS_Store
Thumbs.db
.idea/
.vscode/
node_modules/
**/node_modules/
.venv/
**/.venv/
dist/
**/dist/
